@charset "utf-8";
/* 代码整理：懒人之家*/


body {
	background:url(/mac/galaxy.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	margin:0px;
	padding:0px;
	overflow:hidden;
} 
.blur {
	background:url(/mac/galaxyblur.jpg);
} 
#launchpad {
	margin:20px auto;
	width:980px;
	height:700px;
	border-radius:30px;
	display:block;
	opacity:0.9;
	filter:alpha(opacity=0);
	-webkit-transform:scale(0.9);
	-moz-transform:scale(0.9);
	-o-transform:scale(0.9);
	-ms-transform:scale(0.9);
	-webkit-transition:0.2s ease-in-out;
}
#launchpad img {
	width:50px;
	height:50px;
	margin:10px;
}
.icon {
	background:url(mac/shadow.png) no-repeat left center;
	float:left;
	width:60px;
	height:80px;
	margin:20px 40px;
	cursor:pointer;
}
.icon:hover {
	opacity:0.6;
}
.icon span {
	float:left;
	width:60px;
	height:10px;
	margin:5px auto;
	display:block;
	color:#FFF;
	font-size:10px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	text-align:center;
	line-height:10px;
	text-shadow:0 1px 2px #000000;
}

#dock {
	background:url(/mac/dock.png) no-repeat bottom;
	width:auto;
	bottom:0;
	text-align:center;
	position:fixed;
	cursor:pointer;
	padding:5px 20px;
}
#dock img {
	margin:2px -2px;/*opacity:0.5;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);*/
}


