<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title>jQuery+CSS3模拟苹果桌面系统</title> 
<link type="text/css" rel="stylesheet" href="css/reset.css" /> 
<link type="text/css" rel="stylesheet" href="css/common.css" /> 
<link type="text/css" rel="stylesheet" href="css/index.css" /> 
<link type="text/css" rel="stylesheet" href="css/nav.css" /> 
<link type="text/css" rel="stylesheet" href="css/setting.css" /> 
<script src="plugins/vue.js"></script>
</head> 
<body >
  <div id="app">

	<div class="andios_header">
		 <div class="header_logo"><a href=""></a><span style="color: white;font-family: Segoe Script;">AnDiOs</span></div>
	</div>
	<div class="andios_app" @click="settingswitch(true)">
	    <div class="andios_menu">
		  <div class="icon"><img src="images/safari.png" title="safari"/><span>设置</span></div>
          <div class="icon"><img src="images/Mail.png" title="Mail" /><span>Mail</span></div>
          <div class="icon"><img src="images/Appstore.png" title="Appstore" /><span>Appstore</span></div>
          <div class="icon"><img src="images/Pages.png" title="Pages" /><span>Pages</span></div>
          <div class="icon"><img src="images/Numbers.png" title="Numbers" /><span>Numbers</span></div>
          <div class="icon"><img src="images/Keynote.png" title="Keynote" /><span>Keynote</span></div>
          <div class="icon"><img src="images/Aperture.png" title="Aperture" /><span>Aperture</span></div>
          <div class="icon"><img src="images/AddressBook.png" title="AddressBook"/><span>AddressBook</span></div>
    
          <div class="icon"><img src="images/iCalendar.png" title="iCalendar" /><span>iCalendar</span></div>
          <div class="icon"><img src="images/FaceTime.png" title="FaceTime" /><span>FaceTime</span></div>
          <div class="icon"><img src="images/iPhoto.png" title="iPhoto" /><span>iPhoto</span></div>
          <div class="icon"><img src="images/iMovie.png" title="iMovie" /><span>iMovie</span></div>
          <div class="icon"><img src="images/GarageBand.png" title="GarageBand" /><span>GarageBand</span></div>
          <div class="icon"><img src="images/Djay.png" title="Djay" /><span>Djay</span></div>
          <div class="icon"><img src="images/iTunes.png" title="iTunes" /><span>iTunes</span></div>
          <div class="icon"><img src="images/PhotoBooth.png" title="PhotoBooth" /><span>PhotoBooth</span></div> 
        </div>
	</div>
	
	<div class="andios_task"><span @click="settingswitch(false)">{{message}}</span></div>
	
	<div class="andios_navbtn" v-bind:class="{'ltrbtnshowf': ltrhide, 'ltrbtnhidef': ltrshow }" 
		@click="navswitch">
	</div>
	<div class="andios_nav"  v-bind:class="{ 'ltrshowf': ltrshow, 'ltrhidef': ltrhide }">
	     </br></br></br>
		<div  @click="settingswitch(false)">个性化设置</div></br>
	    <div  @click="settingswitch(false)">我的用户</div>
	    </br>
	    <button @click="navswitch">收回</button>
	</div>
	
	<div class="andios_setting" v-bind:class="{'rtlshowf': rtlshow, 'rtlhidef': rtlhide }">
	    </br></br></br>
		<div>个性化设置</div></br>
	    <div>我的用户</div>
	    </br>
	    <button @click="settingswitch">收回</button>
	</div>
  </div>
</body>
<script src="js/desktop.js"></script>
 </html>





















