<div class="abs" id="bar_bottom">
	<a class="float_left" href="#" id="show_desktop" title="显示桌面"> <img
		src="/img/jquerydesktop/icons/icon_22_desktop.png" />
	</a>
	<ul id="dock">
		<li  v-for="(menu,index) in $store.getters.menusindex" v-bind:id="'icon_dock_'+menu.code">
		<a v-bind:href="'#window_'+menu.code"> 
				<i v-bind:class="menu.icon" class="fa-1x"></i>
				{{menu.name}}
		</a></li>
	</ul>
	<!-- <a class="float_right" href="#"   title="用户">
		<div style="display: block;padding: 4px 0 0">{{$store.state.rbac.user.name}}</div>
	</a> -->
	<!-- <a class="float_right" href="#" id="show_desktop" title="用户"> <img
		src="/img/jquerydesktop/icons/icon_22_desktop.png" />
	</a> -->
</div>
