<div style="position:absolute;width:100%;height:100%" v-show="!$store.state.rbac.user.isLogin">
<div style="position:absolute;width:100%;height:100%;z-index:4999;background:gray; filter:alpha(opacity:30); opacity:0.7;"></div>
<div style="position:relative;width:30%;height:50%;left:35%;top:0%;z-index:5000;">
	<div class="top-content" style="position:relative; opacity:1;padding-top:40%;">
	    <div>
			  <form class="form-signin" v-if="!$store.state.rbac.user.logining">
			    <h2 class="form-signin-heading">登录</h2>
				<div class="form-group">
					<!-- <label for="exampleInputEmail1">Email address</label>  -->
					<input v-model:value="$store.state.rbac.user.name" @focus="$store.commit('descfocus')"
						type="text" class="form-control"
						placeholder="请输入登录邮箱/手机">
				</div>
				<div class="form-group">
					<!-- <label for="exampleInputPassword1">Password</label>  -->
					<input v-model:value="$store.state.rbac.user.pwd" @focus="$store.commit('descfocus')"
						type="password" class="form-control"
						placeholder="请输入密码">
				</div>
				<div class="form-group" style="color:red">{{$store.getters.userdesc}}</div>
				<div class="checkbox">
					<label> 
						<input type="checkbox"> 下次自动登录
					</label>
				</div>
				<button type="input"  class="btn btn-default btn-lg btn-block"
				@click="$store.commit('login')"
				>登录</button>
			</form> 
				<h2  class="lead text-center" style="color:white;margin-top:38%;" v-show="$store.state.rbac.user.logining">
				<i class="fa fa-spinner fa-pulse fa-3x"></i></h2> 
			
		</div>
	</div>     
</div>
</div>