<!DOCTYPE html>
<html lang="en">
<div class="abs" id="bar_top">
    <span class="float_right" id="clock"></span>
    <ul>
      <li>
        <a class="menu_trigger" href="#">安迪云(andiOs)</a>
        <ul class="menu">
          <li>
            <a href="http://www.amazon.com/dp/0596159773?tag=sons-20">大数据</a>
          </li>
          <li>
            <a href="http://jqueryenlightenment.com/">云计算</a>
          </li>
          <li>
            <a href="http://jquery.com/">人工智能</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="menu_trigger" href="#">前端(UI)</a>
        <ul class="menu">
          <li>
            <a href="http://diveintohtml5.info/">HTML5</a>
          </li>
          <li>
            <a href="http://www.alistapart.com/articles/get-ready-for-html-5/">CSS</a>
          </li>
          <li>
            <a href="http://html5boilerplate.com/">JavaScript</a>
          </li>
          <li>
            <a href="http://html5doctor.com/">Vue</a>
          </li>
          <li>
            <a href="http://html5.org/">Jquery</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="menu_trigger" href="#">智能应用</a>
        <ul class="menu">
          <li>
            <a href="assets/css/desktop.css">智能客服（语义）</a>
          </li>
          <li>
            <a href="assets/js/jquery.desktop.js">数据预测（数据分析）</a>
          </li>
          <li>
            <a href="http://github.com/nathansmith/jQuery-Desktop">图像分析（图像）</a>
          </li>
          <li>
            <a href="http://github.com/nathansmith/jQuery-Desktop">听说（语音）</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="menu_trigger" href="#">行业</a>
        <ul class="menu">
          <li>
            <a href="http://sonspring.com/journal/jquery-desktop">电信</a>
          </li>
          <li>
            <a href="http://twitter.com/adrianrodriguez/">教育</a>
          </li>
          <li>
            <a href="http://tango.freedesktop.org/Tango_Desktop_Project">医疗</a>
          </li>
          <li>
            <a href="http://tango.freedesktop.org/Tango_Desktop_Project">互联网</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="menu_trigger" href="#">概念</a>
        <ul class="menu">
          <li>
            <a href="http://sonspring.com/journal/jquery-desktop">区块链</a>
          </li>
          <li>
            <a href="http://twitter.com/adrianrodriguez/">石墨烯</a>
          </li>
          <li>
            <a href="http://tango.freedesktop.org/Tango_Desktop_Project">岩燃气</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="menu_trigger" href="#">系统</a>
      </li>
    </ul>
  </div>
  