<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title>jQuery+CSS3模拟苹果桌面系统</title> 
<link type="text/css" rel="stylesheet" href="/css/lanrenzhijia.css" /> 
</head> 
 
<body class="blur">
	<div>
		<div>
			<!-- <img src="/img/logo.png"> --> <a href="#"> <span>HteOS</span>-
					<small>与众不同的 <span>Web</span></small></a>
		</div>
	</div>
	<div id="launchpad">
          <!--***************************   Row 1   ***********************************-->
          <div class="icon"><img src="/mac/safari.png" title="safari"/><span></span></div>
          <div class="icon"><img src="/mac/Mail.png" title="Mail" /><span></span></div>
          <div class="icon"><img src="/mac/Appstore.png" title="Appstore" /><span></span></div>
          <div class="icon"><img src="/mac/Pages.png" title="Pages" /><span></span></div>
          <div class="icon"><img src="/mac/Numbers.png" title="Numbers" /><span></span></div>
          <div class="icon"><img src="/mac/Keynote.png" title="Keynote" /><span></span></div>
          <div class="icon"><img src="/mac/Aperture.png" title="Aperture" /><span></span></div>
          <div class="icon"><img src="/mac/AddressBook.png" title="AddressBook"/><span></span></div>
          <!--***************************   Row 2   ***********************************-->
          <div class="icon"><img src="/mac/iCalendar.png" title="iCalendar" /><span></span></div>
          <div class="icon"><img src="/mac/FaceTime.png" title="FaceTime" /><span></span></div>
          <div class="icon"><img src="/mac/iPhoto.png" title="iPhoto" /><span></span></div>
          <div class="icon"><img src="/mac/iMovie.png" title="iMovie" /><span></span></div>
          <div class="icon"><img src="/mac/GarageBand.png" title="GarageBand" /><span></span></div>
          <div class="icon"><img src="/mac/Djay.png" title="Djay" /><span></span></div>
          <div class="icon"><img src="/mac/iTunes.png" title="iTunes" /><span></span></div>
          <div class="icon"><img src="/mac/PhotoBooth.png" title="PhotoBooth" /><span></span></div>
          <!--***************************   Row 3   ***********************************-->
          <div class="icon"><img src="/mac/Dashboard .png" title="Dashboard" /><span></span></div>
          <div class="icon"><img src="/mac/Compartments.png" title="Compartments" /><span></span></div>
          <div class="icon"><img src="/mac/Developer.png" title="Developer"/><span></span></div>
          <div class="icon"><img src="/mac/Pixelmator.png" title="Pixelmator" /><span></span></div>
      </div>
      
      
      <div id="dock"> 
          <img src="/mac/Finder.png" title="Finder" />
          <img src="/mac/Appstore.png" title="Appstore" />
          <img src="/mac/Mail.png" title="Mail" />
          <img src="/mac/safari.png" title="safari"/>
          <img src="/mac/FaceTime.png" title="FaceTime" />
          <img src="/mac/AddressBook.png" title="AddressBook"/>
          <img src="/mac/iCalendar.png" title="iCalendar" />
          <img src="/mac/iTunes.png" title="iTunes" />
          <img src="/mac/PhotoBooth.png" title="PhotoBooth" />
          <img src="/mac/iPhoto.png" title="iPhoto" />          
      </div> 
      
      <div class="note">
                   <div class="close"><img src="/mac/deleteButton.png" /></div>
                   <h3>版权声明</h3>
                   <p>本作品所有图标和图片文件均来自苹果官方</p>
                   <p>最终版权归苹果公司所有</p>
                   <p>Dock缩放动画效果代码参考</p>
                   
      
      </div>
      
      <div class="title"></div>
      <img src="/mac/launchpad.png" title="launchpad"  class="launch"  />    

</body> 
</html> 

<script src="/script/jquery-1.7.min.js"></script>
<script src="/script/common.js"></script>

