<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="description" content="bigcloudai" />
<title>andiOs</title>
<!--[if lt IE 7]>
<script>
window.top.location = 'http://desktop.sonspring.com/ie.html';
</script>
<![endif]-->
<link rel="stylesheet" href="/css/jquerydesktop/reset.css" />
<link rel="stylesheet" href="/css/jquerydesktop/desktop.css" />
<!--[if lt IE 9]>
<link rel="stylesheet" href="assets/css/ie.css" />
<![endif]-->
<script type="text/javascript" src="/js/vue/vue.js"></script>
<script type="text/javascript" src="/js/vue-router/vue-router.js"></script>
<script type="text/javascript" src="/js/vuex/vuex.js"></script>
</head>
<body> 
<div class="abs" id="wrapper">

<!-- <div th:replace="./common/top.html"></div> -->
<!-- <div th:replace="./common/desktop.html"></div> -->
<div class="abs" id="desktop">
    <div th:replace="./common/desktopmenu.html"></div>
    <div th:replace="./common/desktopcon.html"></div>
</div>
<div th:replace="./common/bottom.html"></div>

<!--<div style="z-index: -1;position: absolute;  left: 0px;  top: 0px;">
					<backgroud></backgroud> 
					<backgroud2></backgroud2> 
</div> -->
</div>

<script src="/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/js/jquery/jquery-ui.js"></script>
<script src="/js/jquery/jquery.desktop.js"></script>


<!-- <script type="text/javascript" src="../../vue,vue-router,vuex/compent/backgroud/backgroud.js"></script>
	<script type="text/javascript" src="../../vue,vue-router,vuex/compent/backgroud/backgroud2.js"></script> -->
	<!--<script type="text/javascript" src="compent/nav/zjkmenu.js"></script>-->
<script type="text/javascript" src="/js/store/menu/menu.js"></script>	
<script type="text/javascript" src="/js/store/store.js"></script>

<script type="text/javascript" src="/js/router/router.js"></script> 
<script type="text/javascript" src="/js/main.js"> </script> 
</body>
</html>